<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobcom.edanuspembeli">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="E-market Pembeli"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mobcom.edanuspembeli.Toko"></activity>
        <activity android:name="com.mobcom.edanuspembeli.List_Menu" />
        <activity android:name="com.mobcom.edanuspembeli.Main2Activity" />
        <activity android:name="com.mobcom.edanuspembeli.Notif" />
        <activity android:name="com.mobcom.edanuspembeli.List_Notif" />
        <activity android:name="com.mobcom.edanuspembeli.Pembelian" />
        <activity android:name="com.mobcom.edanuspembeli.Menu" />
        <activity android:name="com.mobcom.edanuspembeli.List_Toko">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>